*, 
html, 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary:rgb(10, 210, 245);
    --bg-color:rgba(42, 47, 48, 1);
    --white: rgba(255, 255, 255, 1);
}

body {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg-color);
}

a {
    text-decoration: none;
}

/*HEADER STYLE START*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 10%;
    /* border: .1px solid var(--primary); */
    box-shadow: 1px 0 3px var(--white);
    background-color: var(--bg-color);
}

.brand {
    display: flex;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .1em;
    position: relative;
    cursor: default;
}

.brand::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--primary);
    position: absolute;
    right: -14px;
    bottom: 8px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 45px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.menu a::after {
    content: '';
    display: none;
    width: 80%;
    margin: 0 auto;
    border-bottom: 2.5px solid var(--primary);
    animation: menuAnimate .3s forwards;

}

.menu a:hover {
    color: #fff;
}

.menu a:hover::after {
    display: block;
}

@keyframes menuAnimate {
    0% {
       transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*HEADER STYLE END*/

/*SECTION HOME START*/

/*LEFT START*/

section {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    height: 100vh;
    box-sizing: border-box;
/*    border: 2px solid darkred;*/
}

#home {
    padding-top: 10%;
}

.left {
    width: 60%;
/*    border: 2px solid red;*/
}

.left h3{
    padding: 3px 0;
    font-size: 1.7em;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}

.left h1 {
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: capitalize;
}

.left h3 span {
    color: var(--primary);
}

.left p {
    padding: 25px 0 20px;
    letter-spacing: 2px;
    line-height: 20px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 15px 0 10px;
    box-sizing: border-box;
/*    border: 2px solid white;*/

}

.social-link a i {
    font-size: 1.2em;
    color: var(--primary);
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 5px 5px;
    border: 2px solid var(--primary);
    border-radius: 100%;
    transition: .3s ease-in-out all;
}

.social-link:hover {
    cursor: pointer;
    background-color: var(--primary);
    transform: scale(1.2);
}

.social-link a i:hover {
    color: var(--white);
}


.btnCv {
    outline: none;
    border: none;
    padding: 20px 20px;
    font-weight: 900;
    font-size: 1.7;
    letter-spacing: 1.5px;
    border-radius: 30px;
    margin: 30px 0 0;
    background-color: var(--primary);
    color: var(--bg-color);
    cursor: pointer;
    transition: .3s ease-in-out all;
}

.btnCv:hover {
    transform: scale(1.05);
}

/*LEFT END*/
/*RIGHT START*/

.right {
    width: 40%;
    height: 100vh;

}

.pic {
    width: 100%;
    height: 500px;
    padding: 10px 10px;
    background-image: url('../img/pic.png');
    background-size: cover;
    background-position: 0 -100px;
}

/*RIGHT END*/

/*SECTION HOME END*/

/*SECTION PROFILE START*/

#profile {
    display: flex;
    padding-top: 7%;
}

.left-profile {
/*    width: 45%;*/
    flex: 1.5;
    box-sizing: border-box;
/*    border: 2px solid green;*/
}

.pic-profile {
    background-position: -50px -100px;
}

.right-profile {
/*    width: 60%;*/
    flex: 2.5;
    padding: 1em 1em;
    box-sizing: border-box;
/*    border: 2px solid blue;*/
}

.about-me {
    width: 100%;
}

.about-me::after{
    content: '';
    display: block;
    border-bottom: 2px solid var(--primary);
    animation: aboutMe 3s alternate infinite;
}

@keyframes aboutMe {
    0% {
        width: 10%;
    }
    100% {
        width: 75%;
    }
}

.about-me h1{
    text-transform: capitalize;
    padding-top: 5%;
}

.text-about-me {
    padding-top: 5%;
    text-align: justify;
}

/*SECTION PROFILE END*/

/*SECTION PROJECT START*/

#project {
    padding-top: 7%;
}

.project-container {
    width: 100%;
    box-sizing: border-box;
/*    border: 2px solid skyblue;*/
}

.nav-project {
/*    border: 1px solid yellow;*/
}

.nav-project h1 {
    text-align: center;
    text-transform: capitalize;
}

.swiper {
    height: 100%;
    margin-top: 20px;
/*    border: 2px solid salmon;*/
/*    background-color: red;*/
}

.swiper > .swiper-wrapper {
    height: 75%;
/*    background-color: green;*/
}


.slide,
.slide img {
    width: 100%;
    height: 100%;
    border-radius: 45px;
    box-sizing: border-box;
    cursor: pointer;
/*    border: 2px solid white;*/
}

.slide  img {
/*    display: inline-flex;*/
    object-fit: cover;
    object-position: 0 2px;
    padding: 10px 10px;
    cursor: pointer;
/*    border: .7px solid var(--primary);*/
}



.swiperBtn::after{
    font-weight: 600;
    color: var(--primary);
}



/*SECTION PROJECT END*/